.jumbotron{
  margin-top:30px;
  padding: 2rem;
}
form{
  width: 98%;
  margin: 20px auto;
}
.card{
  margin-bottom:2rem;
}
th.trainLineCell p{
  background-color:gray;
  padding:5px 10px;
  border-radius:3px;
  margin:5px;
  display: inline;
}
